body {
height: 100vh;
background-color: #1f2937;
}

/* .flex container {
max-width: 500px;
margin: auto;
padding: 10px;
} */
#header {
    justify-content: center;
    color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}
    
#logo {
    flex: 1;
}


a {
    
    text-decoration: none;
    color: white;
    /* display: flex; */
    align-content: flex-end;
    gap: 16px;
}
.topnav {
    display: flex;
    padding: 52px;
    gap: 32px;
    margin-bottom: 32px;
    color: white;
}

#bold {
    font-weight: 48px;
background-color: ;
}
.open {
   display: flex;
    min-height: 0px;
    justify-content: center;

}

.now {

  /* background-color: white; */
}

.info {
  text-align: center;
}
#flexbox {
  flex: 1;
  display: flex;
  /* border: red; */
  gap: 16px;
}

#quote {
  color: #ddd;
  }
div #quote, #main{
text-align: center;
}
#quote, .thor {
  text-align: end;
}
#footer {
  color: white;
  background-color: black;

  padding: 32px;
}
  .call {
    background-color: #888;
    display: flex;
    color: #1f2937;
  }


#box {
  border: 2px solid blue;
  height: 50px;
  margin: 2.5px;
  width: 50px;
  flex-grow: 1;
  justify-content: center;
  align-self: center;
  background-color: #f1f1f1;
}
.im {
background-color: #ddd;
align-self: flex-end;
}

{box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
/* .container {
  padding: 16px;
} */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 10%; /* Full width */
  height: 10%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
  margin-bottom: 8px;
  min-width: 0px;
/* flex-grow: 0; */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}